p {
  color: #656161;
}

header {
  border-bottom: solid grey 5px;
  padding-bottom: 30px;
}

.wrapper {
  margin: auto;
  max-width: 901px;
}

.content {
  text-indent: 20px;
  padding-bottom: 15px;
}

.container {
  display: -webkit-flex;
  display: flex;
  background: url(resources/list-bg.png);
  box-shadow: 0px 0px 5px #888888;
}

.list1 {
  padding: 0px 0px 0px 10%;
  list-style-type: circle;
}

.list2 {
  padding: 0px 0px 0px 20%;
  list-style-type: circle;
}

header .flex-container{
  display: inline-block;
  justify-content: flex-end;
}

header p, h3 {
  display: inline-block;
  margin: 0;
}

header img {
  display: inline-block;
  float: right;
  padding: 2px;
}

.logo {
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.list {
  display: inline-block;
}

.print {
  float: right;
}

.footer {
  border-top: solid grey 5px;
  max-width: 901px;
  padding-top: 20px;
}

button {
  float: right;
  margin-top: 3%;
}

.subfooter {
  text-align: center;
}
