html {

}

header {
  /*display: inline-block;
  justify-content: flex-end;*/

}

body {

}

section {

}

header p, h3 {
  display: inline-block;
  margin: 0;
}

header img {
  display: inline-block;



}

.logo {
  display: inline-block;
  float: left;
}

.list {

}

#list1 {
float: left;
}

#list2 {
float: right;
}
